.container {
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: 20px;
    width: 100%;
    text-align: center;
}

footer .info-copyrigth {
    display: inline-block;
}

header .idiomas {
    padding: 0 10px;
}